# Ignore Android Studio / IntelliJ
**/.idea/
**/*.iml

# Gradle
**/.gradle/
**/build/

# Android local config
**/local.properties

# Native builds
**/.cxx/
**/.externalNativeBuild/

# Device / OS
.DS_Store

# Android Studio Device Streaming
**/deviceStreaming/
**/.idea/deviceStreaming/
**/.idea/deploymentTargetSelector.xml
**/.idea/workspace.xml
